@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Roboto:wght@400;700&display=swap");
/* Consider These weights : Roboto = '400' '700', Poppins = '300' '400' '600' */

/*     
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root {
  --secondaryFont: "Roboto", sans-serif;
  --mainFont: "Poppins", sans-serif;
  --primaryColor: #e76f51;
  --secondaryColor: #2a9d8f;
  --thirdColor: #264653;
  --borderColor: #f7f5f5;
  --lightWhite: #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fcfcfc;
  font-family: var(--mainFont);
}

/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  margin: 0 30px;
}

.nav-links {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  margin: 0 30px;
}

/* End of the Navbar */

/* Main content */

.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  height: 400px;
  width: 400px;
  padding: 20px;
  border: 2px solid var(--secondaryColor);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-heading {
  font-size: 30px;
  margin: 30px 0;
}

.counter-para {
  text-align: center;
  font-size: 15px;
}

.display {
  font-size: 80px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

/* End of Main content */

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(46, 46, 46);
  margin-top: 40px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  margin: 0 30px;
}

/* End of the Footer */
