:root {
  --secondaryFont: "Roboto", sans-serif;
  --mainFont: "Poppins", sans-serif;
  --primaryColor: #e76f51;
  --secondaryColor: #2a9d8f;
  --thirdColor: #264653;
  --borderColor: #f7f5f5;
  --lightWhite: #f8f9fa;

  /* 
box-shadow: 3px 0px 35px -7px rgba(38,70,83,0.75);
-webkit-box-shadow: 3px 0px 35px -7px rgba(38,70,83,0.75);
-moz-box-shadow: 3px 0px 35px -7px rgba(38,70,83,0.75);
*/
}

.brand {
  color: var(--primaryColor);
  font-size: 30px;
  font-weight: bold;
  font-family: var(--secondaryFont);
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: lightgrey;
  text-decoration: none;
}

a:hover {
  color: var(--lightWhite);
}

.modal a {
  color: #333;
  font-weight: bold;
}

.modal a:hover {
  color: #55acee;
}

/* Buttons */

.primary-btn {
  font-family: var(--mainFont);
  cursor: pointer;
  height: 40px;
  width: 150px;
  color: white;
  background-color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  color: var(--secondaryColor);
  background-color: #ffffff;
}

.btn-small {
  height: 30px !important;
  width: 100px !important;
}

.secondary-btn {
  padding: 5px 15px;
  color: black;
  background-color: #ffffff;
  border: 1px solid var(--secondaryColor);
  border-radius: 100vw;
  transition: all 0.2s ease-in-out;
}

.secondary-btn:hover {
  background-color: var(--secondaryColor);
  color: white;
}

.card-image {
  height: 200px;
  width: 100%;
}

.clickable {
  cursor: pointer;
  color: var(--secondaryColor);
  transition: transform 0.3s ease-in-out;
}

.clickable:hover {
  color: var(--thirdColor);
  transform: rotate(180deg);
}

/* Buttons */

/* Modals */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 10%;
  left: 32%;
  z-index: 1;
  height: auto;
  width: 500px;
  padding: 20px 10px;
  background-color: var(--borderColor);
  transition: all 0.3s linear;
}

.fadeOut {
  display: none;
}

.fadeIn {
  display: block;
}

.modal .icon {
  height: 40px;
  width: 100%;
}

.icon i {
  position: absolute;
  right: 0;
  margin: 10px 20px;
}

.modal .image {
  background: url("../Images/Me.jpeg") center center/cover;
}

.modal p,
.modal h2 {
  margin: 10px 0;
  text-align: center;
}

.modal-links {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* End of the Modals */
